
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* padding-top: 10px; */
  transition: all 0.5s ease;
}

body {
  overflow-x: hidden;
}

.layout {
  display: flex;
  min-height: 100vh;
 
}

.content {
  flex: 1;
  width: 100%;
}
h1{
  letter-spacing: 1px;
}



html{
  scroll-behavior:smooth;
}

/* .darkMode{
  background-color: #221e36 !important;
  color:#f5f5f5 !important;

} */

:root {
  --bg: #ffffff;
  --text: #000000;
  --textCard:#3d4aa8;
  --card: #f8f8f8;
  --accent: linear-gradient(135deg,#5b66d6,#8a92ff);
  --shadow: rgba(0, 0, 0, 0.15);
}

[data-theme="dark"] {
  --bg: #1b172d;
  --text: #eeeeee !important;
  --textCard:white;
  --card: #2a2340;
  --accent: linear-gradient(135deg,#5b66d6,#8a92ff);
  --shadow: rgba(0, 0, 0, 0.4);
}

* {
  transition: background-color 0.4s ease, color 0.4s ease, box-shadow 0.4s ease;
}